<%- include("partials/header", {title: "Stories"}) %>
<main>
    <%- include("components/TestimonyCard", {name: "James", company: "Coolness Inc", src: "https://randomuser.me/api/portraits/men/3.jpg", qoute: "I really love this product!"})%>
    <%- include("components/TestimonyCard", {name: "Brenda", company: "Big Corporate Inc", src: "https://randomuser.me/api/portraits/women/2.jpg", qoute: "This product watered my crops and cleared my skin!"})%>
    <%- include("components/TestimonyCard", {name: "James the second", company: "Coolness Inc 2", src: "https://randomuser.me/api/portraits/men/10.jpg", qoute: "Wow, such a cool product"})%>
    <%- include("components/TestimonyCard", {name: "Andrew", company: "Another Company", src: "https://randomuser.me/api/portraits/men/3.jpg", qoute: "Nothing is more cool than nothing"})%>
    <%- include("components/TestimonyCard", {name: "Amanda", company: "random blog", src: "https://randomuser.me/api/portraits/women/13.jpg", qoute: "I never go without Nothing on my days"})%>
    <%- include("components/TestimonyCard", {name: "Danny", company: "Large money company", src: "https://randomuser.me/api/portraits/men/3.jpg", qoute: "It's the best alright"})%>
</main>
<%- include ("partials/footer") %>